<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itvo.acuacultura">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity"
            android:screenOrientation= "portrait">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.CalidadDelAgua.CalidadDelAguaActivity"
            android:screenOrientation= "portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY" />
        </activity>
        <activity android:name=".View.Crecimiento.CrecimientoActivity"
            android:screenOrientation= "portrait"/>
        <!--
        activity
            android:name=".View.Crecimiento.CrecimientoActivity"
            android:parentActivityName=".View.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MenuActivity" />
        </activity
        -->
        <activity
            android:name=".View.Enfermedades.EnfermedadesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY" />
        </activity>
        <activity
            android:name=".View.Alimentacion.AlimentacionActivity"
            android:screenOrientation= "portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY" />
        </activity>
        <activity
            android:name=".View.Alimentacion.GraficaAlimentacionActivity"
            android:screenOrientation= "portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                />
        </activity>
        <activity
            android:name=".View.Crecimiento.TasaAlimentacionActivity"
            android:parentActivityName=".View.Alimentacion.AlimentacionActivity"
            android:screenOrientation= "portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Alimentacion.AlimentacionActivity" />
        </activity>
        <activity android:name=".View.Enfermedades.DescripcionActivity"
            ></activity>
        <activity android:name=".View.Enfermedades.ImagenEnfermedadActivity" />
    </application>

</manifest>